<h1 class="center-align-space-between">
  Editar <%= @article.title %>

  <%= link_to "<i class='fa fa-arrow-circle-left'></i> Volver a Artículos".html_safe,
              articles_path,
              method: :get,
              class: 'button-link button-medium' %>
</h1>

<%= render 'form' %>
