@import "palette";

html,
body {
  height: 100%;
}

body {
  background: linear-gradient($lightest-blue, $light-color);
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 0;
}

.main {
  min-height: 100%;

  h1 {
    border-bottom-width: 5px;
    border-bottom-style: solid;
    border-bottom-color: $blue;
    border-bottom-radius: 5px;
  }

  &:after {
    content: "";
    display: block;
  }
}

h1 {
  font-weight: bold;
  font-size: 20px;
  line-height: 50px;

  a.button-link {
    font-size: 14px;
    line-height: 14px;
  }
}

h2 {
  font-weight: bold;
  font-size: 20px;
}

h3 {
  font-weight: bold;
  font-size: 18px;
}

p,
ol,
ul,
td {
  font-family: calibri, verdana, arial, helvetica, sans-serif;
  font-size: 14px;
  line-height: 16px;
}

a {
  color: #000;

  &:visited {
    color: #000;
  }
}

.justify-text {
  text-align: justify;
  text-justify: inter-word;
}

.center-align {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.center-align-space-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.center-align-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.separator {
  clear: both;
  width: 100%;
}

.ul-menu {
  color: white;
  font-size: 14px;
  padding-left: 35px;
  margin: 0;

  a {
    color: white;
    text-decoration: none;

    &:hover {
      background-color: transparent;
    }

    &:visited {
      color: white;
    }
  }

  li {
    display: inline-block;
    color: white;
    border-radius: 15px;
    line-height: 18px;
    padding: 15px 20px;
    -webkit-transition: background-color 200ms linear;
    -moz-transition: background-color 200ms linear;
    -o-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear;

    &:hover {
      background-color: darken($light-blue, 10%);
    }
  }
}

.hover-link {
  border-radius: 3px;
  font-size: 12px;

  &:hover,
  &:focus {
    text-decoration: none;
    font-weight: bold;
    color: black;
  }
}

.panel-default > .panel-heading {
  background-color: $light-color;
}

.transition {
  -webkit-transition: background-color 400ms linear;
  -moz-transition: background-color 400ms linear;
  -o-transition: background-color 400ms linear;
  -ms-transition: background-color 400ms linear;
  transition: background-color 400ms linear;
}

.admin-subpanel {
  width: 150px;
  text-align: center;
  margin-top: 1em;

  * {
    color: red !important;
    font-weight: bold;
  }
}

#last-row-loader {
  display: none;
}

.right {
  right: 0 !important;
}

.gold-star {
  color: orange;
}

.blue-star {
  color: blue;
}

.green-star {
  color: green;
}

.video iframe {
  min-width: 100%;
  min-height: 350px;
}

.nav-tabs {
  border-color: $blue;

  li.active a,
  li.active a:hover,
  li.active a:link {
    color: white;
    background-color: $blue;
  }
}
