.carousel-caption {
  top: 0;
}

.carou-arrow {
  background-color: rgba(216, 224, 236, 0.2) !important;
  font-size: 100px;
}

.carousel-control.right,
.carousel-control.left {
  background-image: none;
}
