<h1 class="center-align-space-between">
  Editando <%= @major.name %>
  <%= link_to "<i class='fa fa-arrow-circle-left'></i> Volver".html_safe,
              :back,
              class: 'button-link button-medium' %>
</h1>

<%= render 'form' %>
