<h1 class="center-align-space-between">
  Salas Virtuales
  <div>
    <%= link_to 'Mis Salas',
                my_virtual_rooms_path,
                method: :get,
                class: 'button-link button-medium green' %>
    <%= link_to 'Archivadas',
                archived_virtual_rooms_path,
                method: :get,
                class: 'button-link button-medium green' %>
  </div>
</h1>

<% @virtual_rooms.each do |virtual_room| %>
  <%= render partial: 'virtual_room',
             locals: { virtual_room: virtual_room,
                       header: 'h3',
                       description: virtual_room.description.capitalize.slice(0..300) } %>
<% end -%>

<div id="last-row-loader" class="text-center">
  <i class="fa fa-spin fa-refresh fa-5x"></i>
</div>

<script type="text/javascript">
  infiniteScroll('.virtual_rooms.index');
</script>
