<h1 class="center-align-space-between">
  Mis Salas Virtuales

  <%= render 'shared/search_bar' %>

  <%= link_to "<i class='fa fa-arrow-circle-left'></i> Volver".html_safe,
              virtual_rooms_path,
              method: :get,
              class: 'button-link button-medium' %>
</h1>

<table id="list" class="table table-bordered table-hover">
  <thead>
    <tr>
      <th class="col-md-9">Título</th>
      <th class="col-md-3">Fecha de publicación</th>
    </tr>
  </thead>

  <% @virtual_rooms.each do |virtual_room| %>
    <tr>
      <td><%= link_to "#{virtual_room.title}", topic_path(virtual_room) %></td>
      <td><%= link_to "#{virtual_room.created_at.to_date.to_s}", virtual_room_path(virtual_room) %></td>
    </tr>
  <% end %>
</table>
