<h1 class="center-align-space-between">
  Nueva pregunta frecuente de major

  <%= link_to "<i class='fa fa-arrow-circle-left'></i> Volver".html_safe,
              :back,
              method: :get,
              class: 'button-link button-medium' %>
</h1>

<%= render 'form' %>
