// Place all the styles related to the Notifications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "shared/palette";

.notifications {
  ul {
    list-style-type: none;
  }

  .not-read .fa {
    color: orange;
  }

  .read .fa {
    color: green;
  }
}
