<p><%= "Bienvenido #{@resource.email}!" %></p>

<p><%= "Por favor confirme su correo en el siguiente link:" %></p>

<p><%= link_to 'Confirmar mi cuenta',
               confirmation_url(@resource, :confirmation_token => @token) %></p>
