<%= form_for @rule, url: @url do |f| %>
  <%= f.text_area :content, placeholder: 'Reglas', required: true, class: 'ckeditor' %>
  <%= f.errors :content %>

  <div class="center-align">
    <%= f.submit '¡Listo!', class: 'button-link button-large' %>
  </div>
<% end %>
